MONGO_URI=mongodb://localhost:27017/sdg
PORT=4000
JWT_SECRET=genera-uno-con-node-e-require-crypto-randomBytes-64-toString-hex
FRONTEND_URL=http://localhost:5173

# Opcional: configurar para enviar emails de recuperación de contraseña
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=tu@gmail.com
# SMTP_PASS=tu-app-password
# SMTP_FROM=tu@gmail.com
